#modal-launch{
    transition: display linear 1s;
}
.rectangle{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
}
.modal-start{
    position: absolute;
    width: 588px;
    height: 419px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    z-index: 1;

    background-image: url('../../../assets/images/start.jpg');
    border-radius: 40px;
}

.modal-start .modal-start-content{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.modal-start-content img{
    height: 100%;
}

.modal-start-content .modal-start-content_button{
    width: 143px;
    height: 48px;
    background: #A7DC50;
    border: none;
    border-radius: 50px;

    font: var(--button);
    text-transform: uppercase;

    color: #103611;
    cursor: pointer;
}