.modal-loading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 24px;

    position: absolute;
    width: 588px;
    height: 419px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    background-color: var(--white);
    border-radius: 40px;
    z-index: 1;
}
.modal-loading img{
    width: 239.02px;
    height: 239.02px;

}

.modal-loading .modal-loading_text{
    font: var( --subtitle1);
    color: var(--black-1);
    animation: load 1s ease-in-out 1s infinite normal none;
}

@keyframes load {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0.2;
	}

	100% {
		opacity: 1;
	}
}