.card {
    position: relative;
    width: 150px;
    height: 230px;
    cursor: pointer;
    /* box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.64);
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.64);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.64); */
}
.face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
    transition: 1s;
}

.face-back {
    background: var(--black-1);
    border-radius: 8px;
    transform: perspective(300px) rotateY(0deg);
}

.face-back img {
    width: 100%;
    height: 100%;
}

.face-front{
    position: relative;
    background-color: var(--white);
    border-radius: 8px;
    padding-bottom: 8px;
    transform: perspective(300px) rotateY(180deg);
}

.face-front .face-front_post{
    position: relative;
    width: 100%;
    height: 60%;
}
.face-front_post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.species{
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-1);
    border-radius: 5px;
}
.species p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 8px;
    line-height: 8px;
    color: var(--white);
    text-transform: uppercase;
}

.face-front_info{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 8px;

}
.face-front_info .info_name{
    font: var(--headline2);
    font-size: .875rem;
    color: var(--black-1);
}
.face-front_info .info_data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.face-front.front-active{
    transform: perspective(300px) rotateY(0deg);
}

.face-back.back-desactive{
    transform: perspective(300px) rotateY(180deg);
}